/* ---------- GLOBALS ---------------- */
$light: #f1f1f1;
$blue: #0666d5;
$primary: #790f0f;
$secondary: #89c4ff ;
$shadow-color: #615f5f;

$test-color: rgb(161, 211, 25);

$wine: #790f0f;
$wine-gradient: linear-gradient(90deg, rgba(56,0,0,1) 0%, rgba(139,20,26,1) 100%, rgba(255,162,0,1) 100%);
$dark-gradient: radial-gradient(circle, rgba(55,4,4,1) 0%, rgba(22,0,0,1) 100%);
$light-wine: #9e2a2a;
$orange-brown: #dd5d00;