@import 'config';
@import 'toggle';
@import 'cards';

*,*::before,*::after{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

body{
    font-family: Tahoma, Verdana, sans-serif;
    font-family: Georgia, 'Times New Roman';
    background-image: linear-gradient( 174.2deg, rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

hr {
    margin: 0;
    border-style: none;
    border: 1px solid $light-wine;
}

// --------------------------------------------------
.content {
    background-color: #fff;
    width: 500px;
    height: fit-content;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
    border-radius: 13px;
    box-shadow: $shadow-color;
}
.main, .footer {
    padding: 25px;
}

.profile{
    color: $light;
    display: flex;
    justify-content: space-between;
    background: $wine-gradient;
    padding: 25px;

    &-details{
        width: fit-content;
        display: flex;
        align-items: center;
        img {
            max-width: 50px;
            max-height: 50px;
            border-radius: 50px;
            border: 3px solid white;
        }
        div {
            margin: 0 10px;
        }
    }
    &-user-list {
        max-width: 50px;
        max-height: 50px;
    }
    &-settings {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;

       .logout {
        border-radius: 10px;
        background-color: #cf2028;
        color: #eee;
        padding: 3px 5px;
       }
    }
}

.search-bar {
    background: $wine-gradient;
    
    form {
        width: inherit;
        
        .search {
            margin: 10px auto;
            background-color: $orange-brown;
            width: fit-content;
            border-radius: 26px;
            border-width: 0px;
            display: flex;
            
            input[type="search"]{
                padding: 0px 10px;
                border-radius: 26px 0 0 26px;
                height: 40px;
                border-style: none;
                background-color: #eee;
                color: #333;
                outline: none;
            }
            
            input[type="submit"] {
                height: 40px;
                background-color: $orange-brown;
                border-radius:  0 26px 26px 0;
                margin: 0;
                padding: 0px 7px;
                border-style: none;
                color: white;
            }        
        }
        
        .config{
            display: flex;
            justify-content: space-around;
            background-color: $light-wine;
            background: linear-gradient(45deg, rgba(140,15,15,1) 50%, rgba(222,36,46,1) 100%);
            color: white;
            
            .select-type {
                display: flex;
                align-items: center;
            
                .movie-type{
                    color: #333;
                    border-radius: 10px;
                    margin: 0px 7px;
                    width: 80px;
                    text-align: center;
                    border: none;
                    line-height: inherit;
                    outline: none;
                }
            }

            .select-image {
                display: flex;
                align-items: center;
            }
        }
    }
}


.main{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 250px;
    border-radius: 10px;
    border: 3px solid $test-color;

    .card{
        // position: relative;
        width: 100px;
        height: 120px;
        
        margin-right: 20px;
        margin: 5px 10px;
        
        padding: 1.5%;
        
        background-size: cover;
        background-color: $light-orange-brown;
        border-radius: 5px;
        border: 1px solid $wine;
      }

      .card_link{
        border: 2px solid yellow;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #555;
      }
      
}

.footer {
    background: rgb(55,4,4);
    background: $dark-gradient;
    color: white;
    text-align: center;
}

// ----------------------------------


// --------------------------------------
// .content
// {
//   position: relative;
// }
