@import 'config';
@import 'toggle';

*,*::before,*::after{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

body{
    font-family: Tahoma, Verdana, sans-serif;
    font-family: Georgia, 'Times New Roman';
    background-image: linear-gradient( 174.2deg, rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

hr {
    margin: 0;
    border-style: none;
    border: 1px solid $light-wine;
}

// --------------------------------------------------
.content {
    background-color: white;
    width: 500px;
    height: fit-content;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
    border-radius: 13px;
    box-shadow: $shadow-color;
}
.main, .footer {
    padding: 25px;
}

.profile{
    color: $light;
    display: flex;
    justify-content: space-between;
    background: $wine-gradient;
    padding: 25px;

    div {
        border: 1px solid yellow;
    }

    &-details{
        width: fit-content;
        display: flex;
        align-items: center;
        img {
            max-width: 50px;
            max-height: 50px;
            border-radius: 50px;
            border: 3px solid white;
        }
        div {
            margin: 0 10px;
        }
    }
    
    &-settings {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

       .logout {
        border-radius: 10px;
        background-color: #cf2028;
        color: #eee;
        padding: 3px 5px;
       }
    }
}

.search-bar {
    background: $wine-gradient;
    
    form {
        width: inherit;
        
        .search {
            margin: 10px auto;
            background-color: $orange-brown;
            width: fit-content;
            border-radius: 26px;
            border-width: 0px;
            display: flex;
            
            input[type="search"]{
                padding: 0px 10px;
                border-radius: 26px 0 0 26px;
                height: 40px;
                border-style: none;
                background-color: #eee;
                color: #333;
                outline: none;
            }
            
            input[type="submit"] {
                height: 40px;
                background-color: $orange-brown;
                border-radius:  0 26px 26px 0;
                margin: 0;
                padding: 0px 7px;
                border-style: none;
                color: white;
            }        
        }
        
        .config{
            display: flex;
            justify-content: space-around;
            background-color: $light-wine;
            background: linear-gradient(45deg, rgba(140,15,15,1) 50%, rgba(222,36,46,1) 100%);
            color: white;
            
            .select-type {
                display: flex;
                align-items: center;
            
                .movie-type{
                    color: #333;
                    border-radius: 10px;
                    margin: 0px 7px;
                    width: 80px;
                    text-align: center;
                    border: none;
                    line-height: inherit;
                    outline: none;
                }
            }

            .select-image {
                display: flex;
                align-items: center;
            }
        }
    }
}


.main{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 250px;
    border-radius: 10px;

    .card{
        width: 120px;
        height: 140px;
        margin: 5px;
        padding: 5px;
        background-color: $light-orange-brown;
        background-size: cover;
        border-radius: 5px;
        border: 1px solid $wine;
      }

      .card_link{
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #555;
      }
      
}

.see-more {
    position: absolute;
    top: 455px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px auto;
    height: fit-content;
    border-radius: 10px;
    text-align: center;
    width: 120px;
    background-color: $orange-brown;
    color: #eee;
    box-shadow: $shadow-color;
    transition: 0.3s;
}
.see-more:hover{
    // opacity: 100%;
    transform: scale(1.1);
}


.footer {
    background: rgb(55,4,4);
    background: $dark-gradient;
    color: white;
    text-align: center;
}

// ----------------------------------


// --------------------------------------
// .content
// {
//   position: relative;
// }
